@use "../../styles/variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: transparent;
}

.main-content {
  flex: 1;
  position: relative;
  z-index: $z-content;
  background: transparent;
}
