@use "../../styles/variables" as *;

.typewriter {
  display: inline;

  &__cursor {
    display: inline-block;
    margin-left: 2px;
    color: $secondary-color;
    font-weight: 400;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
